<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

<p><a href="/">Go to the main page</a></p>


<!-- <form method="POST" action="/findname">
<p>Find user details by name: <input type="text" name="name"> <input type="submit" value="Find user"></p>
</form> -->

<form method="POST" action="/find_remove_user">
    <p>Enter any of the fields below to find the user you want to remove: </p> <br>
      <label for="firstname">Enter name:</label>
      <input type="text" id="name" name="name" placeholder="Enter name" autofocus> <br>

      <label for="organizationn">Enter organization:</label>
      <input type="text" id= "organization"name = "organization" placeholder="Organization name"><br>
       
      <label for="r_interests">Enter research interests:</label>
      <input type="text" id="r_interests" name = "r_interests" placeholder="e.g. Machine Learning"><br>
    
      <label for="the_title">Enter title:</label>
      <input type="text" id="the_title" name = "the_title" placeholder="e.g. Student, Professor, Software Engineer etc"><br>
    
      
      <!-- 
      <label for="theage">Enter age:</label>
      <input type="text" id="age" name = "age"><br> -->

      <input type="submit" value="Find user">
      <!-- <input  type="submit" name="theage "value="Send!"> -->
</form>

<h1>{{headname}} </h1>
<!-- <div>{{data}}</div> -->
<div>
  <table>
      <thead>
        {% for n in colnames %}
        <tr><th> {{n[0]}} </th><th> {{n[1]}} </th><th> {{n[2]}}</th> <th> {{n[3]}} </th></tr>
        {% endfor %}
      </thead>
      <tbody>
        {% for n in data %}
        <tr><td><a href = "/remove_user?id={{n[0]}}&name={{n[4]}}">{{n[4]}}</a> </td><td> {{n[2]}} </td> <td> {{n[7]}} </td> <td> {{n[6]}} </td> </tr>
        {% endfor %}
      </tbody>
  </table>
</div>


</body>


</html>
