<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

<p><a href="/">Go to the main page</a></p>
<p><a href = "/return_logged_in?name={{name}}&uid={{uid}}">Go to the your page</a></p>


<!-- <form method="POST" action="/findname">
<p>Find user details by name: <input type="text" name="name"> <input type="submit" value="Find user"></p>
</form> -->
<h1>Change user details.</h1>
<h4>Current user details:</h4>
    {% for n in data %}
    <p>Name: {{n[4]}}</p>
    <p>Organization: {{n[7]}}</p>
    <p>Title: {{n[6]}}</p>
    <p>Research Interests: {{n[2]}}</p>
    <p>Association: {{n[5]}}</p>
    <p>About: {{n[3]}}</p>
    {% endfor %}
    <br>
    
<form method="POST" action="/user_make_changes">
    <h4>Enter any of the fields below that you would like to change. Leave empty if you do not wish to change that field: </h4> 
      <label for="name">Enter new name:</label>
      <input type="text" id="name" name="name" placeholder="Enter name" autofocus> <br>

      <label for="organizationn">Enter new organization:</label>
      <input type="text" id= "organization"name = "organization" placeholder="Organization name"><br>
       
      <label for="r_interests">Enter new research interests:</label>
      <input type="text" id="r_interests" name = "r_interests" placeholder="e.g. Machine Learning"><br>
    
      <label for="the_title">Enter new title:</label>
      <input type="text" id="the_title" name = "the_title" placeholder="e.g. Student, Professor, Software Engineer etc"><br>
    
      <label for="description">Enter new description:</label>
      <input type="text" id="description" name = "description" placeholder="e.g. I am a science Rockstar"><br>
    
      <label for="associations">Enter new associations:</label>
      <input type="text" id="associations" name = "associations" placeholder="e.g. IEEE"><br><br>

      <label for="username">Enter new username:</label>
      <input type="text" id="username" name = "username" placeholder="e.g. rockstar"><br>
    
      <label for="password">Enter new password:</label>
      <input type="text" id="password" name = "password" placeholder="e.g. catsdogs"><br><br>
    
      <input type="hidden" name="uid" value="{{uid}}">
    
      <input type="hidden" name="original_name" value="{{name}}">
    
    <!--
      Please select ONE type from the following options:<br>
      <input type="radio" name="type" value="Academician">Academician<br>
      <input type="radio" name="type" value = "Company_RS">Company Research Scientist<br>
      <input type="radio" name="type" value = "Independent_RS">Independent Research Scientist<br><br> -->
    
    
    
        <br>
    
      
      <!-- 
      <label for="theage">Enter age:</label>
      <input type="text" id="age" name = "age"><br> -->

      <input type="submit" value="Make changes">
      <!-- <input  type="submit" name="theage "value="Send!"> -->
</form>

<h1>{{added_message}} </h1>


</body>


</html>
